header .profile {
    border: none!important;
}

header .profile a {
    color: #fff;
    text-decoration: none;
    border: none!important;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}





.profile-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

.profile-content nav {
    background: linear-gradient(#8d7bdd, #745fbe);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-radius: 20px;
}

.profile-content nav a {
    color: #fff;
    text-decoration: none;
    border-top: #fff 1px solid;
    text-align: center;
    padding: 5px 20px;
    transition: .2s;
}

.profile-content nav a:nth-child(1) {
    border: none;
}

.profile-content nav a:hover {
    padding: 10px 20px;
}

.profile-content .profile-info {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.profile-content .profile-info .card {
    width: 800px;
    background: linear-gradient(#8d7bdd, #745fbe);
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    color: #fff;
    font-weight: 500;
}

.profile-info .main-info {
    display: flex;
    align-items: center;
}

.profile-info .main-info img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 75px;
}